.header {
  padding: 1rem 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  text-decoration: none;
  color: black;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

.link {
  text-decoration: none;
  margin-right: 1.3rem;
  color: black;
  opacity: 0.5;
}

.link:hover {
  opacity: 1;
}

.active-link {
  opacity: 1;
}